html{
    font-family: helvitica, sans-serif;
}
h1{
    font-display: 50vw;
    text-align: center;
    text-decoration: black;
    color: black;

}
body{
    background-size: 100%;
    background-repeat: inherit;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190322-ham-sandwich-horizontal-1553721016.png?crop=0.668xw:1.00xh;0.168xw,0&resize=768:*)
}
.custom-select {
    position: relative;
    font-family: Arial;
    text-align: center;
  }
/* .multi-level, .item ul, .nav input[type="checkbox"] { */
    /* display: none; */
/* } */
#menu:checked ~ .multi-level, .item input:checked ~ ul {
    display: block;
}
.arrow {
    width: 12px;
    height: 2px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
}
.item input + .arrow {
    transform: rotate(-90deg);
    transition: 0.1s;
}
.item input:checked + .arrow {
    transform: rotate(0deg);
    transition: 0.1s;
}
.label:hover {
    cursor: pointer;
}
label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}
.nav {
    width: 20%;
    /* background-color: white; */
    overflow: hidden;
    /* border-bottom: 1px solid #CFD8DC; */
}
#nav_icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color: white;
    background-color: #F44336;
}
.nav ul, .nav li, label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    /* color: #90A4AE; */
    font-weight: 100;
    width: 100%;
}
.item ul {
    padding: 0 0.25em;
}
.nav li a {
    line-height: 50px;
    margin: 0;
    padding: 0 4em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
 }